body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

h1{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

span{
    color: rgb(11, 194, 240);
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 300px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
button{
    padding: 10px 15px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    background-color: rgb(11, 194, 240);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 150, 200);
}